#brazil{
    position: absolute;
    top: 2800px;
    left: 260px;
}

#europen{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#europeo{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#japan{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#russie{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#turkey{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#oceania{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#americaN{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#passerveur{
    position: absolute;
    height: 75%;
    top: 2575px;
    left: 30px;
}
#korea{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#latinn{
    position: absolute;
    top: 3575px;
    left: 0px;
}
#latins{
    position: absolute;
    top: 3575px;
    left: 0px;
}